<div class="row">
	<div class="col-md-12">


		<div class="form-inline">
			<div class="form-group">
				<label class="sr-only" for="exampleInputAmount">Search for User</label>
				<div class="input-group">

                    <span class="input-group-btn" id="buttons">
                        <button class="btn btn-default" value="steam" type="button">Steam</button>
                        <button class="btn btn-default" value="xbox" type="button">Xbox</button>
                        <button class="btn btn-default active" value="ps" type="button">PS4</button>
                    </span>
					<input class="form-control" id="search" placeholder="Search for user">
				</div>
			</div>
		</div>

		<h2 id="results"></h2>

		<script>
			$(function () {
				$('#search').on('keyup', function (e) {
					if (e.keyCode === 13) {

						var user = $(this).val();
						var platform = $('button.active').val();

						// TODO: add cookie to keep track of selected platform
						if (platform === undefined) {
							alert("no button selected");
						}

						parameters = {search: user};
						$.get('api/search/' + platform, parameters, function (data) {

							if (data === true) {
								window.location.replace("/user/" + user + "/" + platform);
							} else {
								$('#results').html("Unable to find user " + user + " on " + platform + ". Please check the input and try again.");
							}
						});
					}
				});

				$('button').on('click', function (e) {
					$('button').removeClass("active");
					$(this).addClass("active");
				});
			});
		</script>
	</div>
</div>