{{>header}}
{{>nav}}
<body>

<div class="jumbotron small">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				{{#if config.pageTitle}}
					<h1>{{config.pageTitle}}</h1>
				{{else}}
					<h1>{{config.siteTitle}}</h1>
				{{/if}}
			</div>
			<div class="col-md-4">
			</div>
		</div>
	</div>
</div>

 <div class="container">
	 {{{body}}}
 </div>

</body>
{{>footer}}