body {
	font-family: "proxima-nova", sans-serif;
	background: #282b2d;
	color: white;
}

.animate, .animate:hover, .animate:focus {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.title {
	border-radius: 4px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-top: 10px;
}

.navbar {
	background: rgba(40, 43, 45, 0.9);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	border-color: #000000;
	z-index: 2;

	.navbar-brand {
		color: #FFF;
		opacity: 0.8;
		@extend .animate;
		@extend .title;

		&:hover {
			color: #FFF;
			opacity: 1
		}
	}

	.nav > li {
		padding: 10px;
		font-size: 14px;
		font-weight: 700;
		text-transform: uppercase;
		color: white;
		a {
			color: white;
			opacity: 0.8;
			@extend .animate;
		}

		a:hover, &.current > a {
			color: white;
			opacity: 1
		}
	}
}

.jumbotron {
	min-height: 700px;
	position: relative;
	overflow: hidden;
	background-color: rgba(0, 167, 124, 0.5);
	padding-top: 75px;
	margin-bottom: 0;
	border-bottom: 1px solid rgba(73, 73, 73, 1);

	&:before {
		background: url("../img/rlbg.jpg") center center;
		z-index: -2;
	}

	&:before, &:after {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	h1 {
		@extend .title;
		padding: 40px 0;
		margin: 40px auto 0;
		font-size: 40px;
		text-align: left;
		color: white;
		font-weight: bold;
	}

	img {
		position: absolute;
		width: 1500px;
		height: 422px;
		bottom: -5px;
		left: 50%;
		margin-left: -750px;
		margin-bottom: -30px;
		border-radius: 5px;
	}

	&.small {
		height: 200px;
		min-height: 200px;
		padding: 30px;
		margin-bottom: 40px

	}
}

#search {
	text-align: center;
	width: 500px;
	height: 70px;
	font-size: 3.5em;
	border-radius: 8px;
	color: #222;
}
